html {
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
body {
  font-size: 1.6rem;
  color: #1d1e25;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242d52;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  position: relative;
  z-index: 20;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.header__links--mobile {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 370px;
  width: 80%;
  max-width: 400px;
  padding: 20px 0;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.267) 3px 3px 6px 0px;
}
.header__links--mobile.is-active {
  display: block;
}
.header__links--mobile__ul {
  padding: 0;
  list-style: none;
}
.header__links--mobile__ul__li {
  margin: 20px 0;
}
.header__links--mobile__ul__li > a {
  color: #1d1e25;
  text-decoration: none;
  font-weight: 700;
}
.header__links--mobile__ul__li > a:hover {
  text-decoration: underline;
}
.header__links--desktop {
  display: none;
}
.header__get-started {
  display: none;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -170px;
}
.hero__figure {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 0 5%;
  padding-top: 200px;
  text-align: center;
}
.hero__article {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 0 5%;
}
.hero__article > * {
  position: relative;
  z-index: 10;
}
.hero__article__title {
  font-size: 4rem;
  line-height: 50px;
}
.hero__article__text {
  color: #9095a7;
  margin-top: 20px;
}
.hero__article__button {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background-color: #f25f3a;
  color: #fafafa;
  border-radius: 50px;
  font-weight: 700;
  box-shadow: rgba(0,0,0,0.267) 3px 3px 6px 0px;
  cursor: pointer;
}
.hero__article__button:hover {
  background-color: #f5866a;
}
.hero__article__background {
  position: absolute;
  top: 0;
  margin-top: 50px;
  z-index: 0;
  max-height: 400px;
}
.hero__background {
  position: absolute;
  z-index: 0;
  right: 0;
  margin-right: -100px;
  max-height: 650px;
}
.differences {
  position: relative;
  z-index: 10;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.differences__intro {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 5%;
}
.differences__intro > p {
  color: #9095a7;
}
.differences__intro__title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.differences__intro__background {
  display: none;
}
.differences__points__item__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 5%;
}
.differences__points__item__title__number {
  position: relative;
  z-index: 10;
  background-color: #f25f3a;
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
}
.differences__points__item__title__text {
  position: relative;
  z-index: 5;
  background-color: #fff0eb;
  padding: 5px;
  padding-left: 40px;
  width: 100%;
  margin-left: -30px;
  font-weight: 700;
  border-radius: 20px 0 0 20px;
}
.differences__points__item__text {
  padding: 0 5%;
  color: #9095a7;
  margin-bottom: 40px;
}
@media screen and (min-width: 900px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hero__figure {
    max-height: 50%;
    text-align: end;
  }
  .hero__article {
    text-align: start;
    padding-top: 200px;
    margin-left: 40px;
  }
  .hero__article__background {
    display: none;
  }
  .hero__background {
    max-height: 85%;
  }
  .differences {
    flex-direction: row;
  }
  .differences__intro {
    text-align: start;
    max-width: 600px;
  }
  .differences__intro__text {
    padding-right: 100px;
  }
  .differences__intro__background {
    display: block;
    margin-left: -250px;
    margin-top: 20px;
    max-width: 400px;
  }
  .differences__points__item__title__text {
    background-color: #fff;
  }
  .differences__points__item__text {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    padding: 0 7%;
  }
  .header > .hamburger {
    display: none;
  }
  .header__links--mobile.is-active {
    display: none;
  }
  .header__links--desktop {
    display: block;
  }
  .header__links--desktop__ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .header__links--desktop__ul__li {
    text-decoration: none;
    margin: 0 10px;
  }
  .header__links--desktop__ul__li > a {
    color: #1d1e25;
    text-decoration: none;
    font-weight: 500;
  }
  .header__links--desktop__ul__li > a:hover {
    text-decoration: underline;
  }
  .header__get-started {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #f25f3a;
    color: #fafafa;
    border-radius: 50px;
    font-weight: 700;
    box-shadow: rgba(0,0,0,0.267) 3px 3px 6px 0px;
    cursor: pointer;
  }
  .header__get-started:hover {
    background-color: #f5866a;
  }
}
@media screen and (min-width: 1400px) {
  .hero {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__article__title {
    font-size: 6.5rem;
    line-height: 60px;
  }
  .hero__article__text {
    padding-right: 200px;
    font-size: 2rem;
  }
  .differences {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
  }
  .differences__intro__title {
    font-size: 4rem;
  }
}
