BrightRed = 	#f25f3a
DarkBlue = 	#242d52

DarkGrayishBlue = 	#9095a7
VeryDarkBlue = 	#1d1e25
VeryPaleRed = 	#ffefeb
VeryLightGray = 	#fafafa

FS = 16px
FWNormal= 400
FWSemiBold = 500
FWBold = 700

FFBody = 'Be Vietnam', sans-serif

BoxShadow = #00000044 3px 3px 6px 0px

Button(inversed = false)
	padding 10px 25px
	border none
	background-color BrightRed
	color VeryLightGray
	border-radius 50px
	font-weight FWSemiBold
	box-shadow BoxShadow
	cursor pointer
	&:hover
		background-color lighten(BrightRed, 10)
	if inversed
		background-color VeryLightGray
		color BrightRed
		box-shadow none
		&:hover
			color lighten(BrightRed, 10)
			background-color lighten(VeryLightGray, 10)