@import './_tokens.styl'

html
	box-sizing border-box
	font-family FFBody
	font-size 62.5%
	scroll-behavior smooth

*,*::before,*::after
	box-sizing inherit
	margin 0

body
	font-size 1.6rem
	color VeryDarkBlue

html, body
	max-width 100%
	overflow-x hidden

h1,h2,h3,h4,h5,h6
	color DarkBlue

img
	max-width 100%
	height auto

.header
	position relative
	z-index 20
	height 100px
	display flex
	justify-content space-between
	align-items center
	padding 0 5%
	&__links--mobile
		display none
		position absolute
		margin-left auto
		margin-right auto
		left 0
		right 0
		text-align center
		margin-top 370px
		width 80%
		max-width 400px
		padding 20px 0
		background-color VeryLightGray
		border-radius 5px
		box-shadow BoxShadow
		&.is-active
			display block
		&__ul
			padding 0
			list-style none
			&__li
				margin 20px 0
				& > a
					color VeryDarkBlue
					text-decoration none
					font-weight FWBold
					&:hover
						text-decoration underline
	&__links--desktop
		display none
	&__get-started
		display none

.hero
	position relative
	display flex
	flex-direction column
	align-items center
	margin-left auto
	margin-right auto
	margin-top -170px
	&__figure
		position relative
		z-index 10
		width 100%
		padding 0 5%
		padding-top 200px
		text-align center
	&__article
		position relative
		z-index 10
		text-align center
		padding 0 5%
		& > *
			position relative
			z-index 10
		&__title
			font-size 4rem
			line-height 50px
		&__text
			color DarkGrayishBlue
			margin-top 20px
		&__button
			margin-top 20px
			Button()
		&__background
			position absolute
			top 0
			margin-top 50px
			z-index 0
			max-height 400px
	&__background
		position absolute
		z-index 0
		right 0
		margin-right -100px
		max-height 650px

.differences
	position relative
	z-index 10
	margin-top 100px
	display flex
	flex-direction column
	&__intro
		position relative
		text-align center
		margin-bottom 50px
		padding 0 5%
		& > p
			color DarkGrayishBlue
		&__title
			font-size 3rem
			margin-bottom 20px
		&__background
			display none
	&__points__item
		&__title
			display flex
			align-items center
			margin-bottom 20px
			padding-left 5%
			&__number
				position relative
				z-index 10
				background-color BrightRed
				color white
				padding 5px 20px
				border-radius 20px
			&__text
				position relative
				z-index 5
				background-color #fff0eb
				padding 5px
				padding-left 40px
				width 100%
				margin-left -30px
				font-weight FWBold
				border-radius 20px 0 0 20px
		&__text
			padding 0 5%
			color DarkGrayishBlue
			margin-bottom 40px

.slider
	text-align center
	&__title
		font-size 3rem
	&__container
		display flex
		padding-left 5%
		&__item
			margin-top 80px
			padding 0 20px
			width 100%
			min-width 300px
			max-width 400px
			margin-right 20px
			background-color VeryLightGray
			border-radius 5px
			&__image
				height 80px
				margin-top -40px
			&__title
				margin 15px 0
			&__text
				color DarkGrayishBlue
				margin-bottom 20px
	&__button
		margin-top 50px
		Button()

@media screen and (min-width 900px)
	.hero
		flex-direction row-reverse
		justify-content space-between
		align-items flex-start
		&__figure
			max-height 50%
			text-align end
		&__article
			text-align start
			padding-top 200px
			margin-left 40px
			&__background
				display none
		&__background
			max-height 85%
	.differences
		flex-direction row
		&__intro
			text-align start
			max-width 600px
			&__text
				padding-right 100px
			&__background
				display block
				margin-left -250px
				margin-top 20px
				max-width 400px
		&__points__item
			&__title__text
				background-color white
			&__text
				margin-left 60px



@media screen and (min-width 1100px)
	.header
		padding 0 7%
		& > .hamburger
			display none
		&__links--mobile.is-active
			display none
		&__links--desktop
			display block
			&__ul
				display flex
				list-style none
				padding 0
				&__li
					text-decoration none
					margin 0 10px
					& > a
						color VeryDarkBlue
						text-decoration none
						font-weight FWSemiBold
						&:hover
							text-decoration underline
		&__get-started
			display block
			Button()


@media screen and (min-width 1400px)
	.hero
		max-width 1440px
		margin-right auto
		margin-left auto
		&__article
			&__title
				font-size 6.5rem
				line-height 60px
			&__text
				padding-right 200px
				font-size 2rem
	.differences
		max-width 1440px
		margin-right auto
		margin-left auto
		font-size 2rem
		&__intro__title
			font-size 4rem
