@import './_tokens.styl'

html
	box-sizing border-box
	font-family FFBody
	font-size 62.5%
	scroll-behavior smooth

*,*::before,*::after
	box-sizing inherit
	margin 0

body
	overflow-x hidden
	font-size 1.6rem
	color VeryDarkBlue

h1,h2,h3,h4,h5,h6
	color DarkBlue

img
	max-width 100%
	height auto

.header
	position relative
	height 100px
	display flex
	justify-content space-between
	align-items center
	padding 0 5%
	&__links--mobile
		display none
		position absolute
		margin-left auto
		margin-right auto
		left 0
		right 0
		text-align center
		margin-top 370px
		width 80%
		max-width 400px
		padding 20px 0
		background-color VeryLightGray
		border-radius 5px
		box-shadow BoxShadow
		&.is-active
			display block
		&__ul
			padding 0
			list-style none
			&__li
				margin 20px 0
				& > a
					color VeryDarkBlue
					text-decoration none
					font-weight FWBold
					&:hover
						text-decoration underline
	&__links--desktop
		display none
	&__get-started
		display none

.hero
	display flex
	flex-direction column
	align-items center
	background-image url('../images/bg-tablet-pattern.svg')
	background-position top right
	background-size 90% 70%
	background-repeat no-repeat
	padding 0 5%
	padding-top 170px
	margin-top -170px
	margin-left auto
	margin-right auto
	&__figure
		width 100%
		max-width 600px
	&__article
		text-align center
		background-image url('../images/bg-tablet-pattern.svg')
		background-position bottom right
		background-size 90% 70%
		background-repeat no-repeat
		&__title
			font-size 4rem
			line-height 50px
		&__text
			color DarkGrayishBlue
			margin-top 20px
		&__button
			margin-top 20px
			Button()


@media screen and (min-width 1100px)
	.header
		padding 0 7%
		& > .hamburger
			display none
		&__links--mobile.is-active
			display none
		&__links--desktop
			display block
			&__ul
				display flex
				list-style none
				padding 0
				&__li
					text-decoration none
					margin 0 10px
					& > a
						color VeryDarkBlue
						text-decoration none
						font-weight FWSemiBold
						&:hover
							text-decoration underline
		&__get-started
			display block
			Button()
